#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
}

.card {
  padding: 2em;
  background-color: lavender;
  width: 60vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > img {
  margin-top: 10px;
  width: 40vw;
  margin-left: 10vw;
  overflow: hidden;
  object-fit: cover;
  /* height: 20vh; */
}

.ban-list {
  margin-left: 25px;
  background-color: lightblue;
  width: 15vw;
}

